
:root {
    --main-color: #ec869c;
    --text-color: #171427;
    --bg-color: #fff; 
    --bg2-color: #C1BBBD;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: var(--bg-color);
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
/* Para fazer o risquinho Embaixo do H4 */
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--main-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #2d2b38;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #4b4957;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--bg2-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--text-color);
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #fff;
    background-color: #4b4957;
}
/* RESPONSIVE */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}
